[Desktop Entry]
Name=SpotyPop
Comment=A Spotify mini player for the COSMIC™ desktop panel
Exec=spotypop
Terminal=false
Type=Application
Icon=io.github.gbazan92.SpotyPop
Categories=AudioVideo;Audio;Player;
Keywords=spotify;music;player;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
