[Desktop Entry]
Name=Hola
Comment=Applet de ejemplo para COSMIC
Exec=cosmic-ext-applet-hola
Terminal=false
Type=Application
Icon=face-smile-symbolic
Categories=Utility;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
