[Desktop Entry]
Name=Spotify
Comment=Mini cliente de Spotify en el panel de COSMIC
Exec=cosmic-ext-applet-spotify
Terminal=false
Type=Application
Icon=io.github.gbazan92.CosmicExtAppletSpotify-symbolic
Categories=AudioVideo;Audio;Player;
Keywords=spotify;music;player;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
